<nav class="navbar navbar-inverse navbar-main yamm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img src="assets/img/logo-w.png" alt="Image Alternative text" title="Image Title" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp;Categories<i class="drop-caret" data-toggle="dropdown"></i></a>
          <ul class="dropdown-menu dropdown-menu-category">
            <li><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>Action</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Action</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Home</a>
                            <p>Litora gravida odio hac metus</p>
                          </li>
                          <li><a href="#">Kitchen</a>
                            <p>Magnis cursus lacinia bibendum urna</p>
                          </li>
                          <li><a href="#">Furniture & Decor</a>
                            <p>Vulputate nunc nisl purus fringilla</p>
                          </li>
                          <li><a href="#">Bedding & Bath</a>
                            <p>Sociis at mollis turpis hendrerit</p>
                          </li>
                          <li><a href="#">Appilances</a>
                            <p>Urna inceptos urna auctor dapibus</p>
                          </li>
                          <li><a href="#">Patio, Lawn & Garden</a>
                            <p>Ultrices conubia fames enim dis</p>
                          </li>
                          <li><a href="#">Wedding Registry</a>
                            <p>Posuere tristique cubilia senectus inceptos</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Home Improvement</a>
                            <p>Donec faucibus torquent ipsum at</p>
                          </li>
                          <li><a href="#">Lamps & Light Fixtures</a>
                            <p>Primis a luctus senectus taciti</p>
                          </li>
                          <li><a href="#">Kitchen & Bath Fixtures</a>
                            <p>Elementum scelerisque felis phasellus dolor</p>
                          </li>
                          <li><a href="#">Home Automation</a>
                            <p>Congue tortor pellentesque viverra nulla</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/2.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Science fiction</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Science fiction</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Necklances & Pendants</a>
                            <p>Integer quis dictum amet dictum</p>
                          </li>
                          <li><a href="#">Bracelets</a>
                            <p>Leo tempus nostra augue platea</p>
                          </li>
                          <li><a href="#">Rings</a>
                            <p>Phasellus aliquet lacus vitae per</p>
                          </li>
                          <li><a href="#">Errings</a>
                            <p>Mollis blandit enim libero sociosqu</p>
                          </li>
                          <li><a href="#">Wedding & Engagement</a>
                            <p>Imperdiet vulputate congue cubilia dictum</p>
                          </li>
                          <li><a href="#">Charms</a>
                            <p>Diam elit dictumst sed erat</p>
                          </li>
                          <li><a href="#">Booches</a>
                            <p>Vel dictum congue dui semper</p>
                          </li>
                          <li><a href="#">Men's Jewelry</a>
                            <p>Sodales laoreet mattis ut in</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Jewelry Shops</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Contemporary & Designer</a>
                            <p>Nullam consequat turpis mus aenean</p>
                          </li>
                          <li><a href="#">Juniors</a>
                            <p>Mattis senectus mollis luctus ornare</p>
                          </li>
                          <li><a href="#">Meternity</a>
                            <p>Et at feugiat a habitasse</p>
                          </li>
                          <li><a href="#">Pettite</a>
                            <p>Hendrerit justo mollis penatibus cras</p>
                          </li>
                          <li><a href="#">Uniforms, Works & Safety</a>
                            <p>Blandit proin euismod nostra dignissim</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/3.png" alt="Image Alternative text" title="Image Title" style="right: -10px; bottom: -10px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Toy & Kids</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Kids Clothing</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Accessories</a>
                            <p>Morbi sit mattis at ligula</p>
                          </li>
                          <li><a href="#">Active Wear</a>
                            <p>Himenaeos ante morbi lacinia mattis</p>
                          </li>
                          <li><a href="#">Coats & Jackets</a>
                            <p>Varius vulputate ultricies habitant ipsum</p>
                          </li>
                          <li><a href="#">Jeans</a>
                            <p>Elit ultrices lorem diam orci</p>
                          </li>
                          <li><a href="#">Sets</a>
                            <p>Tempus vitae ligula aenean rutrum</p>
                          </li>
                          <li><a href="#">Indoors</a>
                            <p>Ligula vestibulum quam bibendum a</p>
                          </li>
                          <li><a href="#">Swimwear</a>
                            <p>Urna ornare quisque dui arcu</p>
                          </li>
                          <li><a href="#">Special Occasion</a>
                            <p>At etiam diam neque sollicitudin</p>
                          </li>
                          <li><a href="#">Shoes</a>
                            <p>Nisl magna donec gravida dui</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">More For Kids</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Kids Furniture</a>
                            <p>Enim cursus in at amet</p>
                          </li>
                          <li><a href="#">Kids Jewelry & Watches</a>
                            <p>Curae fringilla orci vitae lacinia</p>
                          </li>
                          <li><a href="#">Toys & Games</a>
                            <p>Ad tortor nulla per rutrum</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/4.png" alt="Image Alternative text" title="Image Title" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electronics</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Electronics</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">TV & Video</a>
                            <p>Faucibus class consectetur luctus sodales</p>
                          </li>
                          <li><a href="#">Home Audio & Theater</a>
                            <p>Vitae luctus leo vitae hac</p>
                          </li>
                          <li><a href="#">Camera, Photo & Video</a>
                            <p>Viverra mi pellentesque sollicitudin habitant</p>
                          </li>
                          <li><a href="#">Cell Phones & Accessories</a>
                            <p>At iaculis mi rutrum turpis</p>
                          </li>
                          <li><a href="#">Headphones</a>
                            <p>Blandit vulputate ad inceptos et</p>
                          </li>
                          <li><a href="#">Video Games</a>
                            <p>Gravida est id tincidunt cursus</p>
                          </li>
                          <li><a href="#">Gar Electronics</a>
                            <p>Elit dignissim interdum mus diam</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Computers</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Laptops & Tablets</a>
                            <p>Placerat sed congue risus dis</p>
                          </li>
                          <li><a href="#">Desktops & Monitors</a>
                            <p>Mollis ultrices est nec netus</p>
                          </li>
                          <li><a href="#">Computer Accessories</a>
                            <p>Nec hac cursus ipsum dictum</p>
                          </li>
                          <li><a href="#">Software</a>
                            <p>Eu sed volutpat felis quam</p>
                          </li>
                          <li><a href="#">Printers & Ink</a>
                            <p>Sociosqu risus blandit viverra consectetur</p>
                          </li>
                          <li><a href="#">Networking</a>
                            <p>Quis bibendum porta vivamus imperdiet</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/5.png" alt="Image Alternative text" title="Image Title" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-tags dropdown-menu-category-icon"></i>Clothes & Shoes</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">TheBox Fashion</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Woman</a>
                            <p>In congue est odio nulla</p>
                          </li>
                          <li><a href="#">Men</a>
                            <p>Vehicula feugiat viverra sollicitudin justo</p>
                          </li>
                          <li><a href="#">Girls</a>
                            <p>A in phasellus enim odio</p>
                          </li>
                          <li><a href="#">Boys</a>
                            <p>Feugiat dolor pellentesque auctor quisque</p>
                          </li>
                          <li><a href="#">Baby</a>
                            <p>Ad hac parturient curae donec</p>
                          </li>
                          <li><a href="#">Luggage</a>
                            <p>Nec eget magnis himenaeos adipiscing</p>
                          </li>
                          <li><a href="#">Accessories</a>
                            <p>Cras eleifend non ultricies egestas</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/6.png" alt="Image Alternative text" title="Image Title" style="right: -20px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Sports</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Athletic Clothing</a>
                            <p>Habitant massa vulputate sit fames</p>
                          </li>
                          <li><a href="#">Exorcise & Fitness</a>
                            <p>Curae libero scelerisque auctor curae</p>
                          </li>
                          <li><a href="#">Hunting & Fishing</a>
                            <p>Ad luctus consectetur nisl turpis</p>
                          </li>
                          <li><a href="#">Team Sports</a>
                            <p>Potenti interdum blandit sodales sodales</p>
                          </li>
                          <li><a href="#">Fan Sports</a>
                            <p>Justo porttitor amet praesent congue</p>
                          </li>
                          <li><a href="#">Golf</a>
                            <p>Aliquet eget per venenatis dis</p>
                          </li>
                          <li><a href="#">Sports Collections</a>
                            <p>Non mus ut rhoncus ullamcorper</p>
                          </li>
                          <li><a href="#">Camping & Hiking</a>
                            <p>Posuere malesuada sociosqu habitasse vitae</p>
                          </li>
                          <li><a href="#">Cycling</a>
                            <p>Nullam accumsan pellentesque porttitor risus</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/7.png" alt="Image Alternative text" title="Image Title" style="right: -39px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Entertaiment</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Entertaiment</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Video Games & Consoles</a>
                            <p>Id aliquam proin urna mollis</p>
                          </li>
                          <li><a href="#">Music</a>
                            <p>Dolor interdum morbi natoque imperdiet</p>
                          </li>
                          <li><a href="#">DVD & Movies</a>
                            <p>Nec nisl bibendum fames nec</p>
                          </li>
                          <li><a href="#">Tickets</a>
                            <p>Nam curae dapibus erat in</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Memorabilia</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Autographs</a>
                          </li>
                          <li><a href="#">Movie</a>
                          </li>
                          <li><a href="#">Music</a>
                          </li>
                          <li><a href="#">Television</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/9.png" alt="Image Alternative text" title="Image Title" style="right: -27px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Travel</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Travel Equepment</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Luggage</a>
                            <p>Integer posuere velit nascetur tortor</p>
                          </li>
                          <li><a href="#">Travel Accessories</a>
                            <p>Cras metus ante elit dapibus</p>
                          </li>
                          <li><a href="#">Luggage Accessories</a>
                            <p>Facilisis felis molestie aenean conubia</p>
                          </li>
                          <li><a href="#">Lodging</a>
                            <p>Feugiat hac laoreet habitant mus</p>
                          </li>
                          <li><a href="#">Maps</a>
                            <p>Semper nisl semper vestibulum malesuada</p>
                          </li>
                          <li><a href="#">Other Travel</a>
                            <p>Erat taciti aliquet malesuada non</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Booking</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Vacation Packages</a>
                            <p>Fusce primis ipsum id netus</p>
                          </li>
                          <li><a href="#">Campground & RV</a>
                            <p>Mattis fringilla sapien libero habitasse</p>
                          </li>
                          <li><a href="#">Rail</a>
                            <p>Sollicitudin nam et primis arcu</p>
                          </li>
                          <li><a href="#">Car Rental</a>
                            <p>Tristique tortor nisi mus montes</p>
                          </li>
                          <li><a href="#">Cruises</a>
                            <p>Per laoreet laoreet porta lacus</p>
                          </li>
                          <li><a href="#">Airline</a>
                            <p>Dui euismod bibendum metus imperdiet</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/11.png" alt="Image Alternative text" title="Image Title" style="right: -100px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Art</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Paintings from Dealers & Resellers</a>
                            <p>Dui ultrices sapien varius scelerisque</p>
                          </li>
                          <li><a href="#">Paintings Direct from Artist</a>
                            <p>Ultricies netus fringilla cras fermentum</p>
                          </li>
                          <li><a href="#">Art Prints</a>
                            <p>Quam molestie sit sit nulla</p>
                          </li>
                          <li><a href="#">Art Photographs from Resellers</a>
                            <p>Ad venenatis parturient aliquet purus</p>
                          </li>
                          <li><a href="#">Art Photographs from the Artist</a>
                            <p>Convallis mi hac dis lacus</p>
                          </li>
                          <li><a href="#">Art Posters</a>
                            <p>Penatibus ipsum feugiat ligula rutrum</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Design</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Home Decor Decals</a>
                            <p>Mus nostra facilisis condimentum nullam</p>
                          </li>
                          <li><a href="#">Furniture</a>
                            <p>Adipiscing nam habitant vestibulum aenean</p>
                          </li>
                          <li><a href="#">Wallpapers</a>
                            <p>Fermentum primis lacinia netus dictum</p>
                          </li>
                          <li><a href="#">Bar Flasks</a>
                            <p>Venenatis fusce dictum eleifend etiam</p>
                          </li>
                          <li><a href="#">Posters & Prints</a>
                            <p>Nam rhoncus augue imperdiet lacinia</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/12.png" alt="Image Alternative text" title="Image Title" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Motors</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Motors</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Parts & Accessories</a>
                            <p>Sit scelerisque massa risus felis</p>
                          </li>
                          <li><a href="#">Cars & Trucks</a>
                            <p>A hendrerit vestibulum potenti rhoncus</p>
                          </li>
                          <li><a href="#">Motorcycles</a>
                            <p>Dapibus sociis viverra porta orci</p>
                          </li>
                          <li><a href="#">Passenger Vehicles</a>
                            <p>Praesent nibh tempor ac lorem</p>
                          </li>
                          <li><a href="#">Industry Vehicles</a>
                            <p>Mauris ullamcorper vivamus laoreet duis</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Brands</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">BMW</a>
                          </li>
                          <li><a href="#">Land Rover</a>
                          </li>
                          <li><a href="#">Nissan</a>
                          </li>
                          <li><a href="#">Honda</a>
                          </li>
                          <li><a href="#">Ford</a>
                          </li>
                          <li><a href="#">Porsche</a>
                          </li>
                          <li><a href="#">Audi</a>
                          </li>
                          <li><a href="#">Mercedes-Benz</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/13.png" alt="Image Alternative text" title="Image Title" style="right: -15px; bottom: -15px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Pets</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <h5 class="dropdown-menu-category-title">Pet Supplies</h5>
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Backyard Poultry Supplies</a>
                            <p>Turpis parturient iaculis praesent tempus</p>
                          </li>
                          <li><a href="#">Bird Supplies</a>
                            <p>Adipiscing vivamus ligula feugiat conubia</p>
                          </li>
                          <li><a href="#">Cat Supplies</a>
                            <p>Justo condimentum gravida dictumst molestie</p>
                          </li>
                          <li><a href="#">Dog Supplies</a>
                            <p>Nullam metus turpis pharetra maecenas</p>
                          </li>
                          <li><a href="#">Pet Memorials & Urns</a>
                            <p>Velit metus pharetra pellentesque elementum</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Fish & Aquariums</a>
                            <p>Purus torquent non lobortis sapien</p>
                          </li>
                          <li><a href="#">Horse Supplies</a>
                            <p>Curabitur fames eget imperdiet semper</p>
                          </li>
                          <li><a href="#">Reptile Supplies</a>
                            <p>Egestas nullam pulvinar praesent feugiat</p>
                          </li>
                          <li><a href="#">Small Animal Supplies</a>
                            <p>Elit neque dolor bibendum dictumst</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Wholesale Lots</a>
                            <p>Consequat consectetur ligula aliquam bibendum</p>
                          </li>
                          <li><a href="#">Other Pet Supplies</a>
                            <p>Scelerisque urna tincidunt phasellus condimentum</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/14.png" alt="Image Alternative text" title="Image Title" style="right: -15px;" />
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Hobbies & DIY</a>
              <div class="dropdown-menu-category-section">
                <div class="dropdown-menu-category-section-inner">
                  <div class="dropdown-menu-category-section-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="dropdown-menu-category-title">Hobby & DIY</h5>
                        <ul class="dropdown-menu-category-list">
                          <li><a href="#">Model & Kit Tools</a>
                            <p>Tincidunt risus libero per integer</p>
                          </li>
                          <li><a href="#">Supplies & Engines</a>
                            <p>Consequat taciti fringilla morbi egestas</p>
                          </li>
                          <li><a href="#">RC Airline & Helicopter</a>
                            <p>Mauris dictumst ultrices semper quam</p>
                          </li>
                          <li><a href="#">RC Car, Truck & motorcycle</a>
                            <p>Platea nisl condimentum ipsum senectus</p>
                          </li>
                          <li><a href="#">Military Airline Models & Kits</a>
                            <p>Donec semper sollicitudin aliquet sem</p>
                          </li>
                          <li><a href="#">Craft Airbrushing Supplies</a>
                            <p>Cursus tortor fermentum ad tellus</p>
                          </li>
                          <li><a href="#">Card Making Supplies</a>
                            <p>Turpis convallis ullamcorper curabitur praesent</p>
                          </li>
                          <li><a href="#">Craft Sewing</a>
                            <p>Lectus commodo primis phasellus potenti</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <img class="dropdown-menu-category-section-theme-img" src="assets/img/test_cat/15.png" alt="Image Alternative text" title="Image Title" style="height: 100%;" />
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown yamm-fw"><a routerLink="/list-books">Books<i class="drop-caret" data-toggle="dropdown"></i></a>
        </li>
      </ul>
      <form class="navbar-form navbar-left navbar-main-search" role="search">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Search the Entire Store..." />
        </div>
        <a class="fa fa-search navbar-main-search-submit" href="#"></a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!connected"><a routerLink="/sign-in" data-effect="mfp-move-from-top" class="popup-text">Sign In</a>
        </li>
        <li *ngIf="!connected"><a routerLink="/register" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
        </li>
        <li *ngIf="connected"><a  data-effect="mfp-move-from-top" class="popup-text">{{userName}}</a>
        </li>
        <li *ngIf="connected" (click)="SignOut()"><a  data-effect="mfp-move-from-top" class="popup-text">Sign Out</a>
        </li>
        <li class="dropdown">
          <a class="fa fa-shopping-cart" routerLink="/shopping-bag"></a>
          <ul class="dropdown-menu dropdown-menu-shipping-cart">

            <li>
              <button class="dropdown-menu-shipping-cart-checkout btn btn-primary">Checkout</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
